* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}
.container {
  height: 14rem;
  border-radius: 5px;
  width: 30rem;
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  justify-content: center;
  background-color: white;
  position: relative;
}
.container h2 {
  font-weight: 500;
}
.container input {
  width: 20rem;
  height: 2rem;
  font-size: 18px;
  padding-left: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.container #eyeIcon {
  position: absolute;
  height: 2rem;
  right: 5.5rem;
  top: 7.8rem;
}
